<div class="container">

<div class="row">
<div class="col-md-6">

<div class="wrapper">

<h1>Вносим правки</h1>
<br>
<br>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>


</div>
</div>
</div>
</div>